@import "./style";
// @import "./authentication";

.contents{
  .wrapper-image{
    max-height: 100vh;
    height: 100vh;
    // background: url('../../public/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

    .wrapper-card-section{
      display: flex;
      justify-content: flex-end;

      .wrapper-card{
        margin: 15vh;
        max-height: 50vh;
        height: 50vh;
        min-width: 20vw;

        .card-title{
          text-align: center;
          text-transform: capitalize;
        }
      }
    }

  }
}
